<div id="mainContainerSingle">
  <section id="presContainer">
    <div>
    <img id="image" src="{{pres.image}}" alt="President image">
    </div>
    <div>
    <h2 id="name">{{pres.name}}</h2>
    </div>
    <div>
    <h2 id="number">President: {{pres.number}}</h2>
    </div>
    <div>
    <h2 id="party">Party: {{pres.party}}</h2>
    </div>
    <div>
    <h2 id="years">Years Served: {{pres.years_served}}</h2>
    </div>
    <div>
    <h2 id="description">{{pres.description}}</h2>
    </div>
  </section>
</div>
